<div class="container matchStepperBox">
    <div class="row cardRow">
        <mat-card class="mat-elevation-z2 noShadow">
            <!-- TODO: <mat-card-subtitle>
                <mat-icon>{{matchId > 0 ? 'edit' : 'add'}}</mat-icon> // _matchService.matchId
                {{matchId > 0 ? 'Match bearbeiten' : 'Neues Match'}}
            </mat-card-subtitle>
            <mat-card-title>
                <mat-icon>{{matchId > 0 ? 'edit' : 'add'}}</mat-icon>
                {{matchId > 0 ? 'Match bearbeiten' : 'Neues Match'}}
            </mat-card-title> -->
            <mat-card-content>

                <mat-stepper labelPosition="bottom" linear [orientation]="(stepperOrientation | async)!">
                    <mat-step [stepControl]="detailsFormGroup" label="Match definieren">
                        <step-details></step-details>
                    </mat-step>

                    <mat-step [stepControl]="teamOneFormGroup" label="Team 1 - Spieler auswählen">
                        <step-team-one></step-team-one>
                    </mat-step>

                    <mat-step [stepControl]="teamTwoFormGroup" label="Team 2 - Spieler auswählen">
                        <step-team-two></step-team-two>
                    </mat-step>

                    <mat-step [stepControl]="gamesFormGroup" label="Spiel hinzufügen">
                        <step-games></step-games>
                        
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Glückwunsch!</ng-template>
                        <p>Glückwunsch - Team 1 hat gewonnen :) </p>
                        <mat-divider inset></mat-divider>
                        <div class="stepperButtons">
                            <button mat-raised-button color="primary" (click)="goToMatches()">Schließen</button>
                        </div>
                    </mat-step>

                    <ng-template matStepperIcon="edit">
                        <mat-icon>check</mat-icon>
                    </ng-template>
                </mat-stepper>










            </mat-card-content>

        </mat-card>
    </div>
</div>