<div>
    <h2>
        {{matchId > 0 ? 'Match bearbeiten' : 'Neues Match'}}
    </h2>
</div>

<mat-stepper linear class="example-stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="detailsFormGroup" label="Match definieren">
        <form [formGroup]="detailsFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Datum auswählen</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Standort</mat-label>
                <mat-select matInput placeholder="Standort" formControlName="city" required>
                    <mat-option *ngFor="let city of cities" value="{{city}}">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Modus</mat-label>
                <mat-select matInput placeholder="Modus" formControlName="mode" required>
                    <mat-option *ngFor="let mode of modes" value="{{mode}}">{{mode}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="teamOneFormGroup" label="Team 1 - Spieler auswählen">
        <form [formGroup]="teamOneFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Spieler 1</mat-label>
                <input type="text" formControlName="onePlayerOne" required matInput [matAutocomplete]="onePlayerOneAuto">
                <mat-autocomplete #onePlayerOneAuto="matAutocomplete">
                    <mat-option *ngFor="let player of playerFilter.onePlayerOne | async" [value]="player.name">
                        {{player.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Spieler 2</mat-label>
                <input type="text" formControlName="onePlayerTwo" required matInput [matAutocomplete]="onePlayerTwoAuto">
                <mat-autocomplete #onePlayerTwoAuto="matAutocomplete">
                    <mat-option *ngFor="let player of playerFilter.onePlayerTwo | async" [value]="player.name">
                        {{player.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="teamTwoFormGroup" label="Team 2 - Spieler auswählen">
        <form [formGroup]="teamTwoFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Spieler 1</mat-label>
                <input type="text" formControlName="twoPlayerOne" required matInput [matAutocomplete]="twoPlayerOneAuto">
                <mat-autocomplete #twoPlayerOneAuto="matAutocomplete">
                    <mat-option *ngFor="let player of playerFilter.twoPlayerOne | async" [value]="player.name">
                        {{player.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Spieler 2</mat-label>
                <input type="text" formControlName="twoPlayerTwo" required matInput [matAutocomplete]="twoPlayerTwoAuto">
                <mat-autocomplete #twoPlayerTwoAuto="matAutocomplete">
                    <mat-option *ngFor="let player of playerFilter.twoPlayerTwo | async" [value]="player.name">
                        {{player.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="gamesFormGroup" label="Spiel hinzufügen">
        <form [formGroup]="gamesFormGroup">
            <p>TBD</p>
            <mat-form-field appearance="fill">
                <mat-label>TBD</mat-label>
                <input matInput formControlName="tbd" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext (click)="createEditMatch()">Speichern</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Glückwunsch!</ng-template>
        <p>Glückwunsch - Team 1 hat gewonnen :) </p>
        <div>
            <button mat-button (click)="goToMatches()">Schließen</button>
        </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
    </ng-template>
</mat-stepper>