@import "../../../style/colors";

// table collapse row
tr.detail-row {
    height: 0;
    box-shadow: inset 0px 1px 2px 0px rgb(0 0 0 / 12%), 
    inset 0px 2px 2px 0px rgb(0 0 0 / 14%), 
    inset 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    width: 100%;

    .details {
        padding: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:not(:last-of-type) {
            border-bottom: 1px solid $dark-dividers;
        }
    }
}