<div class="outher" id="start">
    <div class="box">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <img class="logo" src="../../assets/images/Mayflower-Logo-880.png" alt="Mayflower Logo">
                </mat-card-title>
                <mat-card-title>KickerApp</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="buttonBox">
                    <button mat-raised-button color="primary" routerLink="/match/0">
                        <mat-icon>add</mat-icon>
                        Neues Match
                    </button> 
                    <!-- TODO: add divider?? -->
                    <button mat-raised-button color="primary" routerLink="/dashboard">
                        <mat-icon>dashboard</mat-icon>
                        Dashboard
                    </button>
                    <button mat-raised-button color="primary" routerLink="/players">
                        <mat-icon>people</mat-icon>
                        Spieler
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>