<div class="nav" id="header" *ngIf="router.url != '/start'">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-logo" routerLink="/start">
      Mayflower Logo
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check" (click)="openNav()">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div id="nav-links" [ngClass]="{'open' : open}">
    <a routerLink="/dashboard" routerLinkActive="active" (click)="openNav()">Dashboard</a>
    <a routerLink="/match" routerLinkActive="active" (click)="openNav()">Matches</a>
    <a routerLink="/players" routerLinkActive="active" (click)="openNav()">Spieler</a>
    <!-- <a><mat-icon>person</mat-icon></a>
    <a><mat-icon>settings</mat-icon></a> -->
  </div>
</div>

<router-outlet></router-outlet>

<!-- TODOs:
Filterbar Input kleiner
Tabellen loading spinner einfügen
Tabellen fixe Höhe - mit scoll oder pagination?
Tabellen shadow kleiner?
Tabelle Zeile löschen > mit dialog abfrage
Icon zu Text auf selbe höhe bringen
-->