<div class="nav" id="header" *ngIf="router.url != '/start'">
  <div class="nav-header">
    <div class="nav-logo" routerLink="/start">
      <img src="../../assets/images/mayflower_segel_transparent.png" alt="Mayflower Logo">
      <p>KickerApp</p>
    </div>
  </div>
  <div class="nav-btn">
    <div class="menu-icon">
      <input class="menu-icon__cheeckbox" [ngClass]="{'open' : open}" type="checkbox" (click)="openNav()" />
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div id="nav-links" [ngClass]="{'open' : open}">
    <a routerLink="/dashboard" routerLinkActive="active" (click)="openNav()">Dashboard</a>
    <a routerLink="/match" routerLinkActive="active" (click)="openNav()">Matches</a>
    <a routerLink="/players" routerLinkActive="active" (click)="openNav()">Spieler</a>
    <!-- <a><mat-icon>person</mat-icon></a>
    <a><mat-icon>settings</mat-icon></a> -->
    <div class="nav-footer">
      &#169; 2021 Mayflower
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<!-- TODOs:
Filterbar Input kleiner
Tabellen loading spinner einfügen
Tabellen fixe Höhe - mit scoll oder pagination?
Tabellen shadow kleiner?
Tabelle Zeile löschen > mit dialog abfrage
Icon zu Text auf selbe höhe bringen
-->