@import "../style/colors";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

.row > button {
    width: auto;
}

a {
    text-decoration: none;

    &.mat-button,
    &.mat-raised-button,
    &.mat-fab,
    &.mat-mini-fab,
    &.mat-list-item {
        &:hover {
            color: currentColor;
        }
    }
}

li {
    list-style-type: none;
}

.filterbar {
    display: flex;
    justify-content: end;
    align-items: center;

    p {
        margin-right: 15px;
    }
}

.buttonRow {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}

.cardRow {
    padding: 15px 0;
}


mat-icon.small {
    font-size: $icon-size-small;
    width: $icon-size-small;
    height: $icon-size-small;
}

.mat-icon-button {
    &:hover {
        &.default .mat-icon {
            transition: $transition-ease;
            color: $dark-secondary-text;
        }

        &.delete .mat-icon {
            transition: $transition-ease;
            color: $mayflower-red;
        }
    }
}

.stepperButtons {
    margin-top: 10px;
    margin-bottom: -24px;
}