@import "../style/variables";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

.row > button {
    width: auto;
}

a {
    text-decoration: none;

    &.mat-button,
    &.mat-raised-button,
    &.mat-fab,
    &.mat-mini-fab,
    &.mat-list-item {
        &:hover {
            color: currentColor;
        }
    }
}

li {
    list-style-type: none;
}

.filterbar {
    display: flex;
    justify-content: end;
    align-items: center;

    p {
        margin-right: 15px;
    }
}

.buttonbar {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}

.cardRow {
    padding: 15px 0;
}


mat-icon.small {
    font-size: $icon-size-small;
    width: $icon-size-small + 3;
    height: $icon-size-small;
}

.mat-icon-button {
    &:hover {
        &.default .mat-icon {
            transition: $transition-ease;
            color: $dark-secondary-text;
        }

        &.delete .mat-icon {
            transition: $transition-ease;
            color: $mayflower-red;
        }
    }
}

.mat-vertical-content, .mat-horizontal-content-container {
    padding-top: 24px !important;
}

.matchStepperBox form .mat-form-field {
    width: 100%;
}

.stepperButtons {
    margin-top: 15px;
    margin-bottom: -20px;
    display: flex;
    justify-content: end;
}

@media (max-width: $break-sm) {
    .noShadow {
        box-shadow: none;
        transition: none;
    }
}