@import "../style/colors";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

.row > * {
    width: auto;
}

a {
    &.mat-button,
    &.mat-raised-button,
    &.mat-fab,
    &.mat-mini-fab,
    &.mat-list-item {
        &:hover {
            color: currentColor;
        }
    }
}

table {
    width: 100% !important;
    // th .mat-sort-header-content, th {
    //     font-weight: 600 !important; // TODO: add this??
    // }
    td.mat-cell {
        border-bottom-width: 0;
    }
    tbody tr:nth-child(odd) {
        background: #ececec; // TODO: find solution for matches table
    }
    &#playersList {
        th:last-of-type {
            width: 105px;
        }
    }

    &#matchesList {
        th:last-of-type {
            width: 145px;
        }
    }
}

.tableBox {
    max-height: calc(100vh - 150px);
    overflow: auto;
}

#dashboard .tableBox {
    max-height: calc(100vh - 250px); // TODO: correct size
    overflow: auto;
}

.header-spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.filterbar {
    display: flex;
    justify-content: end;
    align-items: center;

    p {
        margin-right: 15px;
    }
}

.buttonRow {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}

$icon-size: 18px;

mat-icon.small {
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
}

.mat-icon-button {
    &:hover {
        &.default .mat-icon {
            transition: $hover-ease;
            color: $dark-secondary-text;
        }

        &.delete .mat-icon {
            transition: $hover-ease;
            color: $mayflower-red;
        }
    }
}
