table {
    width: 100% !important;
    // th .mat-sort-header-content, th {
    //     font-weight: 600 !important; // TODO: add this??
    // }

    td.mat-cell {
        border-bottom-width: 0;
    }

    &#playersList {
        th:last-of-type {
            width: 105px;
        }
    }

    &:not(#matchesList) tbody tr:nth-child(odd) {
        background: #ececec;
    }

    &#matchesList {
        tbody tr:nth-child(4n-3) {
            background: #ececec;
        }

        th:last-of-type {
            width: 145px;
        }
    }
}

.tableBox {
    max-height: calc(100vh - 150px);
    overflow: auto;
}

#dashboard .tableBox {
    max-height: calc(100vh - 250px); // TODO: correct size
    overflow: auto;
}
