<div class="container" id="players">

  <div class="row buttonRow">
    <button mat-raised-button (click)="createEditPlayer()" color="primary">
      <mat-icon>add</mat-icon>
      Neuer Spieler
    </button>
  </div>

  <div class="row tableBox mat-elevation-z2">
    <table mat-table #playerSort="matSort" matSort [dataSource]="playersList" id="playersList">
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Standort</th>
        <td mat-cell *matCellDef="let element">{{element.city}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="default" (click)="createEditPlayer(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete" (click)="deletePlayer(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableHeader; sticky: true"></tr>
      <tr mat-row [class.row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: tableHeader;"></tr>
    </table>

    <!-- //TODO: add loading spinner -->
    <!-- <div *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner> -->
  </div>
</div>